<div class="container">
  <div class="row">
<div class="col-md-9">
  <body>
  <h1>Complete your profile</h1>
  <form name="form" ng-submit="updateDirectorProfile()">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" type="text" placeholder="Enter full Name" ng-model="director.Name"><br>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type="email" placeholder="Enter email address" ng-model="director.Email"><br>
    </div>
    <label>Location:</label>
        <select class="form-control" ng-model="director.location">
        <option value="Los Angeles">Los Angeles</option>
        <option value="New York">New York</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Miami">Miami</option>
    </select><br>
    <h5><label>Work History:</label></h5>
    Title: <input class="form-control" type="text" placeholder="Title of Production" ng-model="director.Title"><br>
    Company: <input class="form-control" type="text" placeholder="Name of Company" ng-model="director.Company"><br>
    Description: <input class="form-control" type="text" placeholder="Enter Description" ng-model="director.Description"><br>
    <label>Upload Headshot:</label><input type="url" name="pic" accept="image/*" ng-model="user.Image"><br>
    <div>
      <h5><label>Education:</label></h5>
      School: <input type="text" placeholder="Enter name of school attended" ng-model="director.School" class="form-control"><br>
      Degree: <input type="text" placeholder="Enter Degree obtained" ng-model="director.Degree" class="form-control"><br>
      Year Graduated: <input type="number" placeholder="Enter Year Graduated" ng-model="director.Year" class="form-control"><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </body>
      </div>
  </div>
</div>
