<div class="container">
  <div class="row">
    <div class="col-md-9">
    <body>
    <h1>Complete your profile</h1>
    <form name="form" ng-submit="updateActorProfile()">
      <div class="form-group">
          <label>Name:</label>
          <input class="form-control" type="text" placeholder="Enter full Name" ng-model="user.name"><br>
      </div>
      <div class="form-group">
            <label>Email:</label>
            <input class="form-control" type="email" placeholder="Enter email address" ng-model="user.email">
        </div><br>
      <div class="form-group" class="form-control">
          <h5><label>I am a(an):</label></h5>
           Actor: <input type="checkbox" ng-model="user.actor">
           Casting Director: <input type="checkbox" ng-model="user.CastingDirector">
          Agent: <input type="checkbox" ng-model="user.agent"><br>
      </div>
        <label>Location:</label><select class="form-control" ng-model="user.location">
          <option value="Los Angeles">Los Angeles</option>
          <option value="New York">New York</option>
          <option value="San Francisco">San Francisco</option>
          <option value="Miami">Miami</option>
          </select><br>
      <div>
          <h5><label>Work History:</label></h5>
            Title: <input type="text" placeholder="Title of Production" ng-model="user.title" class="form-control"><br>
            Role Type: <input type="text" placeholder="Role Type" ng-model="user.RoleType" class="form-control"><br>
            Director: <input type="text" placeholder="Name of Director" ng-model="user.Director" class="form-control"><br>
            Company: <input type="text" placeholder="Name of Company" ng-model="user.Company" class="form-control"><br>
      </div>
      <div class="form-group">
       <h5><label>Physcial Attributes:</label></h5>
              Gender: <input type="radio" name="sex" value="male" ng-model="user.gender" class="form-inline">Male
                      <input type="radio" name="sex" value="female" ng-model="user.gender" class="form-inline">Female<br>
              Age Range: <input type="text" placeholder="Start" ng-model="user.Start">
                         <input type="text" placeholder="End" ng-model="user.End" class="form-inline"><br>
              Height: <input ng-model="user.Height" class="form-control"><br>
              Build:
                <select ng-model="user.Build" class="form-control">
                  <option value="Athletic">Athletic</option>
                  <option value="Slim">Slim</option>
                  <option value="Petite">Petite</option>
                  <option value="Curvy">Curvy</option>
                  <option value="Muscular">Muscular</option>
                </select><br>
              Eyes: <input type="text" ng-model="user.Eyes" class="form-control"><br>
              Hair: <input type="text" ng-model="user.Hair" class="form-control"><br>
      </div>
        <div ng-model="user.Ethnicity" class="form-group" class="checkbox">
                <h5><label>Ethnicities:</label></h5>
                Caucasian: <input type="checkbox">
                Hispanic: <input type="checkbox">
                African American: <input type="checkbox">
                Asian: <input type="checkbox">
                Middle Eastern: <input type="checkbox">
                South Asian: <input type="checkbox">
                Mixed Race: <input type="checkbox">
        </div>

        <label>Upload Headshot: </label><input type="url" name="pic" accept="image/*" ng-model="user.Image"><br>
      <div>
            <h5><label>Education:</label></h5>
            School: <input type="text" placeholder="Enter name of school attended" ng-model="user.School" class="form-control"><br>
            Teacher: <input type="text" placeholder="Enter name of Teacher" ng-model="user.Teacher" class="form-control"><br>
            Degree: <input type="text" placeholder="Enter Degree obtained" ng-model="user.Degree" class="form-control"><br>
            Year Graduated: <input type="number" placeholder="Enter Year Graduated" ng-model="user.Year" min="1900" max="2015" class="form-control"><br>
      </div><br>
      <button class="btn btn-primary"  type="submit">Submit</button>
    </form>
  </body>
    </div>
  </div>
</div>

