
 <div class="container">
      <!--Diplay preview of jobs in job database from server-->
      <div ng-repeat="job in jobs">
        <!--anything I put after the custom filter will be the 2nd paramter. 1st parameter is automatically jobs or what is being filtered-->
        <h2>{{job.production.name}}</h2>
        {{job.production.desc}}<br>
        <strong>Production Type:</strong> {{job.production.typee}}<br>
        <strong>Production Company:</strong> {{job.production.company}}<br>
        <p></p>

        <strong>Production:</strong><br>
        Date: {{job.production.date.start | date: "MMMM dd, yyyy"}} to {{job.production.date.end | date: "MMMM dd, yyyy"}}<br>
        Location: {{job.production.loc}}
        <p></p>

        <strong>Rehearsal:</strong><br>
        Date: {{job.rehearsal.date.start| date: "MMMM dd, yyyy"}} to {{job.rehearsal.date.end | date: "MMMM dd, yyyy"}}<br>
        Location: {{job.rehearsal.loc}}<p></p>

        <!--Display roles in full-->
        <p></p>
        <h3>Roles Available</h3>
        <div class="container">
          <div ng-repeat="role in job.roles">
            <!--Role preview-->
            <h4>{{role.charactername}}</h4>
            {{role.typee}} role - {{role.gender}}, age {{role.age}}, {{role.ethnicity}}<p></p>
            {{role.description}}<br>
            Nudity:  {{role.nudity | sayYesNo}}<br>
            Compensation: {{role.compensation | compStatus}}<br>
            Union: {{role.union | unionStatus}}<br>
            Notes: {{role.notes}}<br>
            Location: {{role.location}}<br>
            <strong>Audition:</strong> {{role.audition.typee}} audition from {{role.audition.date.start | date: "MMMM dd, yyyy"}} to {{role.audition.date.end | date: "MMMM dd, yyyy"}} in {{role.audition.loc}}<p></p>
            <p></p>
          </div>
        </div>

  </div>
</div>
