
 <div class="container">
      <!--Diplay preview of jobs in job database from server-->
      <div ng-repeat="job in jobs">
        <!--anything I put after the custom filter will be the 2nd paramter. 1st parameter is automatically jobs or what is being filtered-->
        <h2>{{job.production.name}}</h2>
        <em>{{job.production.typee}} from {{job.production.company}}</em><br>
        {{job.production.desc}}
        <p></p>

        <strong>Production:</strong><br>
        Date: {{job.production.date.start | date: "MMMM dd, yyyy"}} to {{job.production.date.end | date: "MMMM dd, yyyy"}}<br>
        Location: {{job.production.loc}}
        <p></p>

        <strong>Rehearsal:</strong><br>
        Date: {{job.rehearsal.date.start| date: "MMMM dd, yyyy"}} to {{job.rehearsal.date.end | date: "MMMM dd, yyyy"}}<br>
        Location: {{job.rehearsal.loc}}<p></p>

        <!--Display roles in full-->
        <p></p>
        <h3>Roles Available</h3>
        <div class="container">
          <div ng-repeat="role in job.roles" class="roleBox row">
            <div class="col-md-10">
                <!--Role preview-->
              <span class="bigger">{{role.charactername}}</span> |
              <strong>{{role.typee}} role - {{role.gender}}, Age {{role.age}}, {{role.ethnicity}}</strong><p></p>
              {{role.description}}<p></p>
              <strong>Audition:</strong> {{role.audition.typee}} audition from {{role.audition.date.start | date: "MMMM dd, yyyy"}} to {{role.audition.date.end | date: "MMMM dd, yyyy"}} in {{role.audition.loc}}<br>
              <strong>Compensation:</strong> {{role.compensation | compStatus}}<br>
              <strong>Union:</strong> {{role.union | unionStatus}}<br>
              <strong>Nudity:</strong>  {{role.nudity | sayYesNo}}<br>
              <strong>Director Notes:</strong> {{role.notes}}
          </div>
          <div class="col-md-2 middleplease">
            <a href=""><button type="submit" class="btn btn-danger">Apply Now</button></a>
          </div>
        </div>

  </div>
</div>
