<!--OPTION 1: PICTURE IN BACKGROUND-->
<div id="background">
<!--  <img src="./assets/images/redlights.jpg" class="stretch"/>-->
</div>

<!--OPTION 2: PICTURE ON TOP-->
<!--<div class="banner" >
  <img src="./assets/images/star.jpg" class="stretch" />
</div>-->


<!--OPTION 3: VIDEO ON TOP-->
<!--<div id="hero-unit background" class="shift-with-hiw">
  <video class="video-playing stretch" autoplay muted>
    <source src="./assets/video/lights.mp4" type="video/mp4">
  </video>
</div>-->



<div class="container">
  <div class="row" id="mainrow">

    <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-4">
                  <img src="./assets/images/tomcruise.jpg" alt="Actors" class="img-circle">
              </div>
              <div class="col-sm-8 box">
                <h3>For Actors</h3>
                <ul class="ok">
                  <li>Find jobs and auditions in your local area or nationwide</li>
                  <li>Market yourself through headshots, video reels, work experience, and more</li>
                </ul>
                Find out how CastCentric can help you today!<br>
                <a href="/Testimonials">See what other actors say about CastCentric</a>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                <img src="./assets/images/jenrudin-castingdirector.jpg" alt="Directors" class="img-circle">
              </div>
              <div class="col-sm-8 box">
                <h3>For Casting Directors and Talent Agents</h3>
                <ul class="ok">
                  <li>Find talented actors</li>
                  <li>Scan through our extensive database of actors for talent that you need</li>
                  <li>See actors’ headshots, video reels, work experience, and more</li>
                </ul>
                Find out how CastCentric can help you today!<br>
                <a href="/Testimonials">See what other agents and directors say about CastCentric</a>
              </div>
          </div>
    </div>

   <div class="col-sm-4">
            <!--FORM-->
            <!--pass in variable if our form is valid or not-->
            <form role="form" name="userForm" id="userForm" ng-submit="register(userForm)" ng-controller="SignupCtrl" novalidate>
              <!--form-header-->
              <h3>Join CastCentric Today!</h3>
              <p>See actor profiles and sign up for jobs and auditions for free!</p>

              <div class="form-group" ng-class="{'has-error': userForm.name.$invalid && !userForm.name.$pristine}">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" ng-model="user.name" required>
                <!--validation: if you wrote in the textbox but then deleted it, then it'll say "your name is required"-->
                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">Your name is required.</p>
              </div>
              <div class="form-group" ng-class="{'has-success': userForm.email.$valid,'has-error': userForm.email.$invalid && !userForm.email.$pristine}">
                <label for="email">Email</label>
                <input name="email" type="email" id="email" class="form-control" ng-model="user.email" required mongoose-error>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Don't forget to type in a valid email address</p>
                <!--tells us if email is already taken-->
                <p class="help-block" ng-show="userForm.email.$error.mongoose">
                  {{errors.email}}
                </p>
              </div>

              <div class="form-group" ng-class="{'has-success': userForm.password.$valid, 'has-error': userForm.password.$invalid && !userForm.password.$pristine}">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" class="form-control" ng-model="user.password" ng-minlength="5" ng-maxlength="10" required mongoose-error />
                <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Your password must be between 5 to 10 characters.</p>
              </div>

              <div class="form-group" ng-class="{'has-success': userForm.userrole.$valid, 'has-error': userForm.userrole.$invalid && !userForm.userrole.$pristine}">
                I am a(an)
                <input name="userrole" type="checkbox" id="userroleactor" ng-model="user.userrole.actor" required mongoose-error /> Actor
                <input name="userrole" type="checkbox" id="userroledirector" ng-model="user.userrole.director" required mongoose-error /> Director
                <p ng-show="userForm.userrole.$valid && !userForm.userrole.$pristine" class="help-block">Let us know if you are an actor or director so we can better serve your needs.</p>
              </div>

              <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Sign Up</button>
              <p><a href="/login">I'm already a member.<br>Sign into CastCentric now.</a></p>
            </form>
          </div>

  </div>
</div>
<!--End Form-->

<footer class="footer">
  <div class="container">
      <p>Created By:
         <a href="https://github.com/yusufmd">Yusuf Dadabhoy</a> |
        <a href="https://github.com/Sdadabhoy">Salman Dadabhoy</a> |
        <a href="https://github.com/jenniferpham/">Jennifer Pham</a> |
        <a href="https://github.com/diennguyen90">Dien Nguyen</a></p>
  </div>
</footer>



<!--[if lt IE 9]>
<script>
  document.createElement('video');
</script>
<![endif]-->

