
<div class="container">
  <div class="row">

    <div class="col-md-3">
      <!--Filter form-->

      <form name="filterJobs" id="filterJobs">
        <strong>Find the jobs that are perfect for you!</strong><p></p>
        Gender: <br>
        <input type="button" id="female" value="female" ng-click="search.roles.gender = 'female'"> Female
        <input type="button" id="male" value="male" ng-click="search.roles.gender = 'male'"> Male
        <p></p>

        Age:<br>
        Age Min: <input type="number" ng-model="search.roles.age.min"><br>
        Age Max: <input type="number" ng-model="search.roles.age.max">
        <!--<input type="range" ng-model="search.roles.age" id="agerange" min="1" max="100">-->
        <p></p>

        Ethnicity:<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.caucasian" id="caucasian"> Caucasian<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.africanamer" id="africanamer"> African American<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.hispanic" id="hispanic"> Hispanic<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.asian" id="asian"> Asian<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.southasian" id="southasian"> South Asian<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.nativeamer" id="nativeamer"> Native American<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.middleeastern" id="middleeastern"> Middle Eastern<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.seapi" id="seapi"> Southeast Asian / Pacific Islander<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.mixed" id="mixed"> Ethnically Ambiguous / Mixed Race<br>
        <input type="checkbox" ng-model="search.roles.ethnicity.african" id="african"> African Descent
        <p></p>

        Production Type:<br>
        <input type="checkbox" ng-model="search.production.typee.theater" value="theater"> Theater/Play<br>
        <input type="checkbox" ng-model="search.production.typee.movie" value="movie"> Movie<br>
        <input type="checkbox" ng-model="search.production.typee.tv" value="tv"> TV Show<br>
        <input type="checkbox" ng-model="search.production.typee.commercial" value="commercial"> Commercial
        <p></p>

        Role Type:<br>
        <input type="checkbox" ng-model="search.role.typee.lead" value="lead"> Lead Role<br>
        <input type="checkbox" ng-model="search.role.typee.supporting" value="supporting"> Supporting Role<br>
        <input type="checkbox" ng-model="search.role.typee.extra" value="extra"> Extra / Background Role<br>
        <p></p>

        Compensation (per $__/mo)?<br>
        <input type="range" ng-model="compensation" id="compensation" min="10" max="10000">
        <p></p>

        Union Status<br>
        <input type="radio" value="true" ng-model="union" id="union"> Yes
        <input type="radio" value="false" ng-model="union" id="nounion"> No
        <p></p>

        Location:
        <select ng-model="search.rehearsal.loc">
          <option value="New York">New York, NY</option>
          <option value="Los Angeles">Los Angeles, CA</option>
          <option value="San Francisco">San Francisco, CA</option>
          <option value="Chicago">Chicago, Il</option>
        </select>
        <p></p>

        Keywords:
        <input type="text" ng-model="search.$">
      </form>
   </div>
  <div class="col-md-9">
    <!--Diplay preview of jobs in job database from server-->
    <div ng-repeat="job in jobs | jobFilter: search">
      <!--anything I put after the custom filter will be the 2nd paramter. 1st parameter is automatically jobs or what is being filtered-->
      <h2>{{job.production.name}}</h2>
    <!--ng-repeat="job in filteredJobs = (jobs | filter:{role.rehearsal.loc: location}) OR | filter: search-->
        <!--<h3>{{job.production.name}}</h3><br>-->
      <!--| filter:{productionname: filter_productionname, productiondesc: filter_productiondesc}-->
        {{job.production.desc | limitTo:500}}{{job.production.desc.length > 500 ? '...' : ''}}<br>
      <strong>Production Type:</strong> {{job.production.typee}}<br>
      <strong>Date:</strong> {{job.production.date.start | date: "MMMM dd, yyyy"}} to {{job.production.date.end | date: "MMMM dd, yyyy"}}<br>
      <strong>Location:</strong> {{job.production.loc}}<p></p>
      <p></p>
      <a href='/job/{{job._id}}'><button type="submit" class="btn btn-success">Find Out More</button></a>
      <p></p>
      <h3>Roles Available</h3>

        <div ng-repeat="role in job.roles" class="moveover">
          <!--Role preview-->
          <h4>{{role.charactername}}</h4>
          <em>{{role.typee}} role, {{role.gender}}, Age {{role.age}}, {{role.ethnicity}}</em><br>
          {{role.description | limitTo:200}}{{role.description.length > 200 ? '...' : ''}}<br>
          <p></p>

        </div>
      <hr>
  </div>

</div>

</div>
</div>
