
#filterForm {background-color: #a6e1ec}

.hoverbtn {display: none}

.roleBox {
  padding: 15px;
}
.roleBox:hover {
  padding:15px;
  background-color: #d6dde5;
}
.roleBox:hover .hoverbtn {
  display: block;
  float: right;
}

.middleplease{
  position: relative;
  top: auto;
  bottom: auto;
}

.productionBox {
  padding: 5px
}
.productionBox:hover {
  background-color: #c4e3f3;
  padding: 5px
}
.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: darkred;
}