<div class="container">
  <div class="row">
     <div class="col-md-9">


        <form name="postJob" class="thing-form" ng-submit="addJob()">
          <h1>Post an Audition Call</h1>
          <h2>Production Information</h2>
          Name of Production: <input class="form-control" type="text" ng-model="production.name" placeholder="Name of Production"><br>
          Production Company: <input class="form-control" type="text" ng-model="production.company" placeholder="Name of Production Company"><br>
          Production Details: <textarea class="form-control" ng-model="production.desc" placeholder="Please describe the production"></textarea><br>

      Production type:
      <select class="form-control" name="Production type" ng-model="production.typee">
        <option value="">Select</option>
        <option value="Film">Film</option>
        <option value="Television">Television</option>
        <option value="Theatre">Theatre</option>
        <option value="Video">Video</option>
        <option value="Commercial">Commercial</option>
      </select><br>

      Production Starts: <input class="form-inline" type="date" ng-model="production.date.start">
      Production Ends: <input class="form-inline" type="date" ng-model="production.date.end"><br>
      Production Location: <select class="form-control" type="text" ng-model="production.loc">
                            <option value="">Select Location</option>
                            <option>Los Angeles</option>
                            <option>Chicago</option>
                            <option>New York</option>
                            <option>San Francisco</option>
                            </select>

      <h2>Role information</h2>
      Name: <input class="form-control" type="text" ng-model="roles.charactername" placeholder="Character Name"><br>
      Type: <input class="form-control" type="text" ng-model="roles.typee" placeholder="Type of role"><br>
      <div class="form-control">Gender: <input type="radio" name="Male" value="Male" ng-model="roles.gender">Male
      <input type="radio" name="Female" value="female" ng-model="roles.gender">Female </div><br>
      Character's age: <input class="form-control" type="text" ng-model="roles.age" placeholder="Enter the age of the character"><br>
      Ethnicity: <input class="form-control" type="text" ng-model="roles.ethnicity" placeholder="Enter ethnicity for this role. Separate by commas if more than one."><br>
      Description: <input class="form-control" type="text" ng-model="roles.description" placeholder="Please enter a description of the role"><br>
      Nudity: <select class="form-control" name="Nudity" ng-model="roles.nudity">
          <option value="">Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
              </select><br>
      Compensation: <input class="form-control" type="text" ng-model="roles.compensation" placeholder="Compensation or other benefits"><br>
      Union: <select class="form-control" name="Union" ng-model="roles.union">
      <option value="">Select</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
              </select><br>
      Notes: <input type="text" class="form-control" ng-model="roles.notes" placeholder="Enter any additional notes or requirements for this role.">

      <h2>Audition information</h2>
      Audition type: <input type="checkbox" class="form-inline" name="Online" value="Online" ng-model="audition.typee.online">Online
                      <input type="checkbox" class="form-inline" name="In person" value="InPerson" ng-model="audition.typee.person">In Person<br>
      Auditions Start: <input class="form-inline" type="date" ng-model="audition.date.start">
      Auditions End: <input class="form-inline" type="date" ng-model="audition.date.end"><br>
      Audition Location: <select class="form-controm" type="text" ng-model="audition.loc"><br>
                          <option value="">Select Location</option>
                          <option>Los Angeles</option>
                          <option>Chicago</option>
                          <option>New York</option>
                          <option>San Francisco</option>
                        </select>
      <br>

      <h2>Rehearsal Information</h2>
      Rehearsals Start: <input class="form-inline" type="date" ng-model="rehearsal.date.start">
      Rehearsals End: <input class="form-inline" type="date" ng-model="rehearsal.date.end"><br>
      Rehearsals Location: <select class="form-control" type="text" ng-model="rehearsal.loc">
          <option value="">Select Location</option>
          <option>Los Angeles</option>
          <option>Chicago</option>
          <option>New York</option>
          <option>San Francisco</option>
        </select>
          <br>
      <br>

      <h2>When should this job post expire?</h2>
      Start Job Posting on: <input class="form-inline" type="date" ng-model="activepost.start">
      End Job Posting on: <input  class="form-inline" type="date" ng-model="activepost.end"><br>

    <button class="btn btn-primary" type="submit">Submit</button>
    </form>








  </div>
  </div>
  </div>
  </div>
