<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <h2>Post an Audition</h2>
    <form>
      Name of Production: <input type="text" ng-model="prodName" placeholder="Name of Production"><br>
      What it is: <input type="text" ng-model="prodInfo" placeholder="Briefly describe the production"><br>
      Production type:
        <select name="Production type">
          <option value="Film">Film</option>
          <option value="Television">Television</option>
          <option value="Theatre">Theatre</option>
          <option value="Video">Video</option>
          <option value="Commercial">Commercial</option>
        </select><br>


    <h2>Audition information</h2>

      Date: <input type="date"><br>
      Location: <input type="text" ng-model="audLocation" placeholder="Location"><br>
      Audition type: <input type="checkbox" name="Online" value="Online" ng-model="audOnline">Online
                     <input type="checkbox" name="In person" value="InPerson" ng-model="audInperson">In Person
      <br>


    <h2>Role information</h2>

        Name: <input type="text" ng-model="roleName" placeholder="Character Name"><br>
        Type: <input type="text" ng-model="roleType" placeholder="Type of role"><br>
        Gender: <input type="checkbox" name="Male" value="Male" ng-model="roleMale">Male
                <input type="checkbox" name="Female" value="female" ng-model="roleFemale">Female <br>
        Ethnicity: <input type="text" ng-model="roleEthnicity" placeholder="Enter preferred ethnicity for this role. Separate by commas if more than one."><br>
        Description: <input type="text" ng-model="roleDesc" placeholder="Briefly describe the role"><br>
        Nudity: <select name="Nudity">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select><br>

        Compensation: <input type="text" ng-model="roleComp" placeholder="Compensation or other benefits"><br>
        Union: <select name="Union">
                     <option value="Yes">Yes</option>
                     <option value="No">No</option>
                </select><br>
        Notes: <input type="text" ng-model="roleNotes" placeholder="Enter any additional notes or requirements for this role.">
    </form>








</div>
</body>
</html>
