
<div class='container'>
	<div class='row'>
		<div class='col-md-9 listBorder'>
			<a href='/updateProfile' class='btn btn-info' ng-show='isLoggedIn()'>Add New Actor</a>
			<hr>
		<div class="nav nav-stacked col-xs-3" ng-repeat="actor in actors | filter: search">
			<div class='header'></div>
				<li><a href='/actors/{{actor._id}}'><img class='picList' src='{{actor.ProfileImage}}'></a></li>
				<li><h4>{{actor.Name}}</h4></li>
				<li>{{actor.PhysicalAttribute.AgeRange.Start}}-{{actor.PhysicalAttribute.AgeRange.End}}</li>
			</div>

	</div>
	<!-- Filters -->
	<div class='col-md-3 listBorder' ng-init='hideFilters=true'>
		<div class='container'>
			<button class='btn btn-sm btn-danger'ng-show='hideFilters'ng-click='hideFilters=false'>Advance Filters</button>
			<button class='btn btn-sm btn-danger' ng-hide='hideFilters'ng-click='hideFilters=true'>Hide Filters</button>
		</div>
			<form ng-hide='hideFilters'>
				Gender: <br>
		        <input type="radio" ng-model="search.PhysicalAttribute.Gender" id="Female" value="Female"> Female
		        <input type="radio" ng-model="search.PhysicalAttribute.Gender" id="Male" value="Male"> Male
		        <p></p>

		        Age:
		        Age Min: <input type="number" ng-model="search.PhysicalAttribute.AgeRange.Start"><br>
        		Age Max: <input type="number" ng-model="search.PhysicalAttribute.AgeRange.End">
		        <p></p>
		        Ethnicity:<br>
		        <select ng-model='search.PhysicalAttribute.Ethnicity'>
		        	<option value=''>Select one</option>
		        	<option value='Hispanic'>Hispanic</option>
		        	<option value='Caucasian'>Caucasian</option>
		        	<option value='Asian'>Asian</option>
		        	<option value='Afrian American'>African American</option>
		        </select>
			    Location:
		         <input type='text' ng-model='search.Location' placeholder='City or State'
		        <p></p>
		      <!--   Keywords:
        		<input type="text" ng-model="search.$"> -->

			</form>
		        Keywords:
        		<input type="text" ng-model="search.$" placeholder='Search by using Keywords '>

		</div>
</div>
