.actorPic{
	width:300px;
	height:400px;
}

.workListing, table, th{
  color: #db1e24;
  font-size: 14px;
  text-transform: uppercase;
  height: 35px;
  border-bottom: 1px dotted #999;
  text-align: left;
  width:140px;
}

td{
	color:black;
  border-bottom:1px dotted #999;
}

.socialHeader{
  margin-bottom:15px;
  width:300px;
  padding:12px 12px;
  background:black;
  color:white;
}
.socialBlock{
  margin-bottom:15px;
}

.sidebar{

}
li{
  list-style:none;
}