<div class='container'>
  <div class='row'>
    <div class='col-md-9 listBorder'>

  <!-- Search agent -->
  <input type="text" ng-model="searchAgent" placeholder="Search for an agent">
  <select name="Location" ng-model="agency.Location">
    <option value="New York">New York</option>
    <option value="Los Angeles">Los Angeles</option>
    <option value="San Francisco">San Francisco</option>
    <option value="Chicago">Chicago</option>
  </select>


  <!-- List Agents -->
  <hr>
  <div class='container'>
  <div class="nav nav-stacked col-xs-3" ng-repeat = "agents in agent | filter: searchAgent | filter: agency" ng-href="#/agent/{{agents.Company}}">



  <ul>
    <li><img class="picList" src="{{agents.Image}}"></li>
    <li><h4>{{agents.Company}}</h4></li>
    <li>{{agents.Location}}</li>
    <li>{{agents.Description}}</li>

  </ul>

  </div>
  </div>
</div>
</div>
</div>
